<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salin Wiki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/0_home.css') }}">
  </head>
  
  <body>

      <div>
        {% include 'header.html' %} 
      </div>
    
      <div class="text-box">
        <img src="static/SWlogo02.png" height="50">
        <h1>THE BEST WAY TO LEARN<br>PHILIPPINE LANGUAGES</h1>
        <span id="one">Salin</span><span id="two">Wiki is the best Wiki site for your translation needs between<br>existing languages in the Philippines.</span>
        <p id="three">Want to look up for a word?</p>
        
        <div class="container mt-3">
          <form class="form-inline my-2 my-lg-0 row" action="#" method="post">
            <input class="transparent-search col" id="searchInput" type="text" name="search" placeholder="Search here!">
            <ul id="suggestions" ></ul>
            <button class="button" input type="submit" value="submit"><i class="bi bi-search"></i></button>

            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            
          </form>

          <script>
            
          </script>
          
        </div>
      </div>

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    
      <div>
        {% include 'footer.html' %}
      </div>
        
      
  </body>
</html>