<div class="container" id="container-footer">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    <a href="/"> <img src="static/SWlogo01.png"  height="32"> </a>
    <a class="col-md-4 d-flex align-items-center justify-content-center link-body-emphasis text-decoration-none">
      <img src="static/SWpinkshark.png" height="32">
      <p id="text-footer" class="mb-0">&copy; 2023 Kalimbahing Pating. All rights reserved.</p>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/FAQs" class="nav-link px-2">FAQs</a></li>
      <li><a href="/About" class="nav-link px-2">About</a></li>
    </ul>
  </header>
</div>