@font-face {
    font-family: Quiapo;
    src: url("../fonts/Quiapo_Free.otf");
}

@font-face {
    font-family: Maragsa;
    src: url("../fonts/Maragsâ-Display.otf");
}

body {
  background-color:#d79922;
}

.bg{
  background-color:#d79922
}

#container-header{
  background-color:#201b15;
  margin: 0px;
  max-width: 100%;
}

#container-footer{
  background-color:#201b15;
  margin: 0px;
  max-width: 100%;
}

#text-footer{
  color:white;
}

.text-box {
    text-align: center;
    margin-top: 27px;
    margin-bottom: 13px;
}

.text-box h1 {
    margin-top: 40px;
    font-size: 104px;
    font-family: Quiapo;
    color: #201b15;
}

#one {
  margin-top: 50px;
  font-size: 36px;
  font-family: Maragsa;
  color: #efe1ba;
}

#two {
  text-align: center;
  margin-top: 30px;
  font-size: 36px;
  font-family: Maragsa;
  color: #201b15;
}

.three-columns{
  width: 100%;
}

.card{
  width: 480px;
}

.column{
  padding: 20px 0px 20px 75px;|
}


